.backButton {

}

@media only screen and (min-width: 992px) {
    .backButton {
        &:hover {
            &::after {
                content: 'Back';
                display: inline-block;
                color: #fff;
                transform: translate(6px, -6px);
            }
        }
    }
}