.container {
    background: #000;
};

.content {
    position: relative;
    margin: auto;
    width: 900px;
    height: 650px;
    overflow: hidden;

    & > img {
        object-fit: cover;
        object-position: center 120px;
        transform: scale(1.5, 1.5);
        opacity: 0;
        animation: fadeIn 2s ease-in 0.5s forwards;
    }
}

.title {
    position: absolute;
    top: 50%;
    left: 0;
    color: #fff;
    transform: translate(0, -40px);
    opacity: 0;
    animation: fadeIn 2s ease-in 3s forwards;

    & > p {
        font-size: 60px;
    }

    & > p + p {
        font-size: 22px;
        letter-spacing: 12px;
    }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}