.container {
    &Background {
        position: absolute; 
        top: 0;
        left: 0;
        width: 100%; 
        height: 100%; 
        background: #000;
    }
};

.content {
    position: relative;
    margin: auto;
    width: 900px;
    height: 650px;
    overflow: hidden;

    & > img {
        object-fit: cover;
        object-position: center 120px;
        transform: scale(1.5, 1.5);
    }
}

.title {
    position: absolute;
    top: 50%;
    left: 0;
    color: #fff;
    transform: translate(0, -40px);

    & > p {
        font-size: 60px;
    }

    & > p + p {
        font-size: 22px;
        letter-spacing: 12px;
    }
}