.container {
    padding: 40px 40px 60px 40px;
    background: #000;
}

.content {
    position: relative;

    & > h1 {
        font-size: 60px;
        color: #fff;
        margin-bottom: 80px;
    }
}

.performanceList {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.performanceItem {
    display: flex;
    flex-direction: row;
    gap: 40px;

    &Image {
        position: relative;
        width: 50%;
        height: 500px;

        & > img {
            object-fit: cover;
            object-position: center center;
        }
    }

    &Content {
        position: relative;
        width: 50%;
        height: 500px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        & > h2 {
            font-size: 36px;
            color: #fff;
        }

        & > p {
            text-align: justify;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5;
            color: #fff;
        }
    }
}