.container {
    padding: 40px 40px 60px 40px;
    background: #000;
}

.content {
    position: relative;

    & > h1 {
        font-size: 60px;
        color: #fff;
        margin-bottom: 80px;
    }

    &Details {
        & > p {
            text-align: justify;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5;
            color: #fff;
        }

        & .videoContainer {
            width: 1000px;
            height: 562.5px;
            display: flex;
            margin: 0 auto;
        }
    }
}

.performanceList {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.performanceItem {
    display: flex;
    flex-direction: row;
    gap: 40px;

    &Image {
        position: relative;
        width: 50%;
        height: 500px;

        & > img {
            object-fit: cover;
            object-position: center center;
        }
    }

    &Content {
        position: relative;
        width: 50%;
        height: 500px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        & > h2 {
            font-size: 36px;
            color: #fff;
        }

        & > p {
            text-align: justify;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5;
            color: #fff;
        }

        & > button {
            width: 120px;
            height: 26px;
            border: none;
            background: #222;
            color: #fff;
            cursor: pointer;
        }
    }
}

.imageGallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 40px;
    justify-items: center;

    & .imageContainer {
        position: relative;
        width: 500px;
        height: 400px;

        & > img {
            object-fit: cover;
            object-position: center center;
        }
    }
}

.viewMoreButton {
    display: inline-block;
    padding: 4px 12px;
    border: 1px solid #222;
    border-radius: 2px;
    background: #222;
    font-size: 14px;
    color: #fff;
}